@layer components {
    .c-header {
        position: sticky;
        top: 0;
        height: var(--header-height);
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(8px);
        z-index: var(--z-header)
    }

    .c-header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%
    }
}