@layer components {
    .c-nav {
        display: flex;
        align-items: center;
        gap: var(--space-200);
    }

    .c-nav__list {
        display: flex;
        flex-direction: column;
        gap: var(--space-200);
        margin: 0;
        padding: var(--space-300);
        list-style: none;
        background-color: var(--color-neutral-000);
        border-radius: var(--radius-md);
        box-shadow: var(--shadow-sm);
    }

    .c-nav__link {
        font-weight: 600;
        color: var(--color-neutral-600);
        padding: var(--space-200) var(--space-300);
        border-radius: var(--radius-full);
    }

    .c-nav__link:hover,
    .c-nav__link:focus-visible,
    .c-nav__link[aria-current="page"] {
        color: var(--color-neutral-000);
        background-color: var(--color-primary-600);
    }



    .c-nav.is-open .c-nav__panel {
        display: block;
    }

    @media (min-width: 64rem) {
        .c-nav__list {
            flex-direction: row;
            align-items: center;
            gap: var(--space-100);
            background: transparent;
            box-shadow: none;
            padding: 0;
        }
    }
}
