/* assets/css/objects/_o-grid.css */
.o-grid {
    display: grid;
    gap: var(--space-lg);
}

@media (min-width:40em) {
    .o-grid--2 {
        grid-template-columns: repeat(2, 1fr);
    }
}